name: GoldenOwl-DevOps-Pipeline
on:
  push:
    branches: [develop, staging]
  pull_request:
    branches: [develop, staging]
    
env:
  #domain/project-registry/project-github:tag_commit
  DOCKER_IMAGE: ${{vars.PROJECT_NAME}}
  
  
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build Docker image
        run: docker build -t ${{ env.DOCKER_IMAGE }} .
      
      - name: Push Docker image to Docker Hub
        run: docker push ${{ env.DOCKER_IMAGE }}
