name: GoldenOwl-DevOps-Pipeline
on:
  push:
    branches: [develop, staging]
  pull_request:
    branches: [develop, staging]
    
env:
  # Không đặt DOCKER_IMAGE ở đây vì chúng ta cần giá trị động của SHA commit
  DOCKER_CONTAINER: ${{vars.CI_PROJECT}}
  
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      
      # Bước mới: Lấy SHA commit ngắn
      - name: Get short SHA
        id: short-sha
        run: echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV
      
      # Bước mới: Đặt tên image với tag dựa trên SHA commit
      - name: Set Docker image name
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          IMAGE_WITH_TAG="${{vars.PROJECT_NAME}}:${BRANCH_NAME}_${{ env.SHORT_SHA }}"
          echo "DOCKER_IMAGE=${IMAGE_WITH_TAG}" >> $GITHUB_ENV
          echo "Docker image will be: ${IMAGE_WITH_TAG}"
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build Docker image
        run: docker build -t ${{ env.DOCKER_IMAGE }} .
      
      - name: Push Docker image to Docker Hub
        run: docker push ${{ env.DOCKER_IMAGE }}
  
  deploy:
    needs: build 
    runs-on: self-hosted
    steps: 
      - uses: actions/checkout@v3
      
      # Cần phải tạo lại biến DOCKER_IMAGE vì biến môi trường không được chia sẻ giữa các job
      - name: Get short SHA
        id: short-sha
        run: echo "SHORT_SHA=$(echo ${GITHUB_SHA} | cut -c1-7)" >> $GITHUB_ENV
      
      - name: Set Docker image name
        run: |
          BRANCH_NAME="${{ github.ref_name }}"
          IMAGE_WITH_TAG="${{vars.PROJECT_NAME}}:${BRANCH_NAME}_${{ env.SHORT_SHA }}"
          echo "DOCKER_IMAGE=${IMAGE_WITH_TAG}" >> $GITHUB_ENV
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: PULL IMAGE ON SERVER
        run: |
          docker pull ${{ env.DOCKER_IMAGE }}
          docker rm -f ${{ env.DOCKER_CONTAINER }} || true
          docker run --name ${{ env.DOCKER_CONTAINER }} -dp 7777:8080 ${{ env.DOCKER_IMAGE }}
          docker logs ${{ env.DOCKER_CONTAINER }}
