name: GoldenOwl-DevOps-Pipeline
on:
  push:
    branches: [develop, staging]
  pull_request:
    branches: [develop, staging]
    
env:
  #domain/project-registry/project-github:tag_commit
  DOCKER_IMAGE: ${{vars.PROJECT_NAME}}
  DOCKER_CONTAINER: ${{vars.CI_PROJECT}}
  
jobs:
  build:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      
      - name: Build Docker image
        run: docker build -t ${{ env.DOCKER_IMAGE }} .
      
      - name: Push Docker image to Docker Hub
        run: docker push ${{ env.DOCKER_IMAGE }}
  
  deploy:
    needs: build  # Thêm dependency: deploy chỉ chạy sau khi build thành công
    runs-on: self-hosted
    steps: 
      - uses: actions/checkout@v3
      
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
          
      - name: PULL IMAGE ON SERVER
        run: |
          docker pull ${{ env.DOCKER_IMAGE }}
          docker rm -f ${{ env.DOCKER_CONTAINER }} || true
          docker run --name ${{ env.DOCKER_CONTAINER }} -dp 7777:8080 ${{ env.DOCKER_IMAGE }}
