name: GoldenOwl-DevOps-Pipeline

on:
        push:
                branches:[develop,staging]
        pull_request:
                branches: [develop,staging]

jobs:
        build:
                runs-on: self-hosted

                steps:
                - uses : action/checkout@v3

                - name : Build Java Project By Maven
                  run: mvn install -DskipTests=true

                - name : Run Java Project
                  run: echo "Server is running"
